<body>
<div id="main">
  <header class="header">
    <div id="header-div">
      <h1>Local-Storage-Contact ListINATOR</h1>
    </div>
    <div id="nav">
      <div id="list_button">
        <a href="/list">List</a>
      </div>
      <div id="add_person_button">
        <a href="/add">Add person</a>
      </div>

    </div>
    <img id="hans" src="https://static.wikia.nocookie.net/phineasandferb/images/5/5d/Doofenshmirtz_Portrait.jpg" alt="Heinz Doofenshmirtz">
  </header>

    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>

    <footer id="footer"><h2>Mikołaj Jóźwik</h2></footer>
</div>
</body>
